body{
    padding:0;
    margin: 0;
    font-family: sans-serif;
    background-image: url("./background.jpg");
    background-size: cover;
    background-position:auto;
   
}
.sign-up-form{
    width:20rem;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
    background: white;
    padding:20px;
    margin:6% auto 0;
    /* text-align: center; */
    
}

.sign-up-form h1{
    color:#3489aa;
    margin-bottom: 30px;
    text-align: center;
}

.sign-up-form label{
  text-align: left;
}

.sign-btn{
    color:#fff;
    width:90%;
    padding:10px;
    border-radius:5px;
    font-size: 15px;
    margin:10px;
    border:none;
    outline:none;
    cursor:pointer;
    background-color: #1c8adb;

}
.sign-btn:hover,
.sign-btn:active {
  background-color: rgb(8, 123, 168);
  color: #ffffff;
}

.already-have-accnt{
    text-align: center;
}

.signup-hr{
    margin-top: 10px;
    width:80%;
}

.signup-icon{
    width:12rem;
    margin: -10px 76px;
  
}

.log-in-form{
    width:20rem;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
    background: white;
    padding:20px;
    margin:6% auto 0;
    /* text-align: center; */
    
}

.log-in-form h1{
    color:#3489aa;
    margin-bottom: 30px;
    text-align: center;
}

.log-in-form label{
    text-align: left;
}

.logn-btn{
    color:#fff;
    width:90%;
    padding:10px;
    border-radius:5px;
    font-size: 15px;
    margin:10px;
    border:none;
    outline:none;
    cursor:pointer;
    background-color: #1c8adb

}
.logn-btn:hover,
.logn-btn:active {
  background-color: rgb(8, 123, 168);
  color: #ffffff;
}

.forgot-psswrd{
    margin:0 0 10px;
    font-size: 13px;
}

.forgot-password-form{
    width:40rem;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
    background: white;
    padding:20px;
    margin:6% auto 0;
}

.forgot-password-form h1{
    color:#3489aa;
    margin-bottom: 30px;
    text-align: center;
}

.forgot-btn{
    color:#fff;
    width:40%;
    padding:10px;
    border-radius:5px;
    font-size: 15px;
    margin:10px 11rem;
    border:none;
    outline:none;
    cursor:pointer;
    background-color: #1c8adb

}
.forgot-btn:hover,
.forgot-btn:active {
  background-color: rgb(8, 123, 168);
  color: #ffffff;
}

.do-not-have-account{
    text-align: center;
}

a{
text-decoration: none;
}

.login-hr{
    margin-top: 10px;
    width:80%;
}

.login-icon{
    width:12rem;
    margin: -10px 76px;
}

.input-box{
    padding:10px;
    margin:10px 0;
    width:90%;
    border: 1px solid #999;
    border-radius: 5px;

}

.expense-detail-form{
    width:40rem;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
    background: white;
    padding:20px;
    margin:1% auto 0;
    /* text-align: center; */
    
}

.expense-icon{
    width:18rem;
    margin: -30px 14rem;
}


.expense-detail-form h1{
    color:#3489aa;
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
}

.expense-hr{
    margin-top: -10px;
    margin-bottom:40px;
    width:80%;
}
.expense-detail-form label{
  text-align: left;
}

.expnse-btn{
    color:#fff;
    width:90%;
    padding:10px;
    border-radius:5px;
    font-size: 15px;
    margin:20px 10px;
    border:none;
    outline:none;
    cursor:pointer;
    background-color: #1c8adb

}

.premium-btn{
    color:#3c6aaf;
    width:10%;
    padding:15px;
    border-radius:10px;
    border-top: none;
    font-size: 20px;
    margin: 2rem 0 0 112rem;
    border:2px solid rgb(77, 110, 182);
    cursor:pointer;
    background-color: rgba(0, 0, 0, 0);
}

/* .premium-msg{
    color:#3c6aaf;
    width:10%;
    padding:15px;
    border-radius:10px;
    border-top: none;
    font-size: 20px;
    margin: 2rem 0 0 112rem;
    border:2px solid rgb(77, 110, 182);
    background-color: rgba(0, 0, 0, 0);
} */

.item-list ul{
   list-style-type:none;
   
}

.item-list li{
    list-style-type:circle;
    padding:5px;
    /* width:35rem;
    margin: 2rem 45rem; */
    font-size: 20px;
    font-family: 'Segoe UI';
   

   
    /* display:block;
    margin: 1rem 40rem;
    font-size: 30px;
    font-family: 'Segoe UI'; */
}

.del-btn {
    
    padding: 0;
    margin: 0 1rem ;
    width:15%;
    height: 2rem;
    text-decoration: none;
    font-weight: bold;
    font: inherit;
    font-size: 15px;
    border: 2px solid #028d8d;
    color: white;
    background: #f04d4d;
    border-radius: 3px;
    cursor: pointer;
}

.del-btn:hover,
.del-btn:active {
  background-color: rgb(228, 38, 38);
  color: #000000;
}
